# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/
env/

# ===========================
# PyTorch Checkpoints
# ===========================
checkpoints/*.pt
checkpoints/*.pth

# Keep tokenizer
!checkpoints/tokenizer.json

# ===========================
# Dataset
# ===========================
data/raw/
data/processed/

# ===========================
# TensorBoard
# ===========================
runs/

# ===========================
# Logs
# ===========================
*.log
debug.log

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Temporary
# ===========================
temp.py